
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-5">
      <h3>Booking Summary</h3>
      <table class="table success">
        <tbody>
          <tr>
            <td><strong>Date</strong></td>
            <td><%= @booking.timeslot.start_time.strftime('%A, %v') %></td>
          </tr>
          <tr>
            <td><strong>Time</strong></td>
            <td><%= @booking.timeslot.start_time.strftime('%I:%M %p') %></td>
          </tr>
          <tr>
            <td><strong>Notes</strong></td>
            <td><%= @booking.notes %></td>
          </tr>
          <tr>
            <td><strong>Your name</strong></td>
            <td><%= [@booking.first_name, @booking.last_name].reject(&:empty?).join(' ') %></td>
          </tr>
          <tr>
            <td><strong>Your address</strong></td>
            <td><%= @booking.address %></td>
          </tr>
          <tr>
            <td><strong>Your email</strong></td>
            <td><%= @booking.email %></td>
          </tr>
          <tr>
            <td><strong>Your mobile</strong></td>
            <td><%= @booking.mobile %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Company Information</h3>
      <table class="table">
        <tbody>
          <tr class="info">
            <td><strong>Company</strong></td>
            <td><%= @booking.timeslot.tradesman.company.name %></td>
          </tr>
          <tr class="info">
            <td><strong>Address</strong></td>
            <td><%= @booking.timeslot.tradesman.company.address %></td>
          </tr>
          <tr>
            <td><strong>Email</strong></td>
            <td><%= @booking.timeslot.tradesman.company.email %></td>
          </tr>
          <tr>
            <td><strong>Phone</strong></td>
            <td><%= @booking.timeslot.tradesman.company.phone %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
