<h1>spanr</h1>

<div class>
  <div class="jumbotron">
    <h3>Book your plumber or electrician</h3>
    <h4>See their availabilities</h4>
    <% unless user_signed_in? %>
      <h4>
        Are you a tradesman?
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-sm' %>
        or
        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary btn-sm' %>
      </h4>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3><center>Select a tradesman to book an appointment</center></h3>
    <br>
    <div class="col-md-4 text-center col-md-offset-2 card">
      <h4>Mario the Plumber</h4>
      <br>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "mario.png", class: "div1" %>
        <% end %>
      </div>
      <br>
    </div>

    <div class="col-md-4 text-center card">
      <h4>Sparky the Electrician</h4>
      <br>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "emmet.jpg", class: "div1" %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
