
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="jumbotron">
      <h3>Book your plumber or electrician</h3>
      <h4>See their availabilities</h4>
      <br>
      <% unless user_signed_in? %>
        <h4>
          Are you a tradesman?
          <small>Access your admin mode below</small>
<!--
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-sm' %>
          or
          <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary btn-sm' %>
-->
        </h4>
      <% end %>
    </div>

    <div class="row">
      <h3><center>Select a tradesman to book an appointment</center></h3>
      <br>
      <% @companies.each do |company| %>
        <div class="col-md-offset-2">
          <div class="col-md-4 text-center card">
            <%= link_to company_path(company) do %>
              <h4><%= company.name %></h4>
              <br>
              <div>
                  <% if company.id == 1 %>
                    <%= image_tag "mario.png", class: "div1" %>
                  <% elsif company.id == 2 %>
                    <%= image_tag "emmet.jpg", class: "div1" %>
                  <% end %>
              </div>
              <small><%= link_to "Admin mode", company_trade_view_path(company), :class => 'btn btn-xs btn-default' %></small>
              <br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
